<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quokka</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>
	</head>

	{% extends 'base.html' %} {% block content %}
	<body>
		<div class="cart">
			<div class="container">
				<div class="cart__wrapper">
					{% for movie_id in cart["items"] %}
					<div class="cart_content">
						<div class="cart__img">
							<img src="../static/pics/{{ movie_id }}.jpeg" alt="" />
						</div>
						<div class="cart__right">
							<div class="cart_info">
								<h1>{{ cart["items"][movie_id]["item"] }}</h1>
								<p>$ {{ cart["items"][movie_id]["price"] }}</p>
								<p>after making order, you will receive key for the movie</p>
							</div>
							<a
								class="btn btn_remove_cart"
								href="{{ url_for('remove_from_cart', movie_id = movie_id) }}"
								>delete</a
							>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="cart__down">
					<p>Sum: ${{ cart["total"] }}</p>
					<div class="cart__btn-wrapper">
						<a class="btn btn_cart" href="{{ url_for('make_order') }}">Order</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	{% endblock %}
</html>
