<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quokka</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>

	{% extends 'base.html' %} {% block content %}
	<body>
		<section class="films">
			<div class="films__wrapper container">
				{% for movie in movies %}
					<a href="item/{{ movie.id }}" class="films__item">
						<div class="films__img">
							<img src="../static/pics/{{ movie.id }}.jpeg" />
						</div>
						<div class="films__content">
							<p class="films__name">{{ movie.title }}</p>
							<p class="films__date-relise">{{ movie.year }}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</section>
	</body>
	{% endblock %}
</html>
