<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quokka</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>

	{% extends 'base.html' %} {% block content %}
	<body>
		<section class="film">
			<div class="film__wrapper container">
				<div class="film__img">
					<img src="../static/pics/{{ item.id }}.jpeg" alt="" />
				</div>
				<div class="film_content">
					<h1>{{ item.title }}</h1>
					<p>{{ item.description }}</p>
					<div class="form-btn">
						<form action="/add_to_cart/{{ item.id }}" method="POST">
							<button type="submit" class="btn btn_film">
								buy {{ item.price }}$
							</button>
						</form>
					</div>
					<iframe
					width="560"
					height="315"
					src="{{ item.trailer_url }}"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
				</div>
			</div>
		</section>
	</body>
	{% endblock %}
</html>
