<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quokka</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
		messages %}
		<p>{{msg}}</p>
		{% endfor %} {% endif %} {% endwith %}
		<nav class="nav">
			<a
				href="{{url_for('home')}}"
				class="nav-item is-active"
				active-color="rebeccapurple"
				>Home</a
			>
			<a href="{{url_for('login')}}" class="nav-item" active-color="orange"
				>Login</a
			>
			<a href="{{url_for('register')}}" class="nav-item" active-color="green"
				>Register</a
			>
			<a href="{{url_for('logout')}}" class="nav-item" active-color="blue"
				>Logout</a
			>
			<span class="nav-indicator"></span>
		</nav>
		<div>
			<form action="/contact" method="post">
				<div class="form-field">
					<input
						type="text"
						name="email"
						placeholder="Введите email"
						required=""
					/>
				</div>
				<div class="form-field">
					<input
						type="text"
						name="phone"
						placeholder="Введите телефон"
						required=""
					/>
				</div>
				<div class="form-field">
					<input
						type="text"
						name="message"
						placeholder="Введите сообщение"
						required=""
					/>
				</div>
				<div class="form-field">
					<button class="btn" type="submit">Свяжитесь со мной</button>
				</div>
			</form>
		</div>
	</body>
</html>
