<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quokka</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	</head>

	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for msg in messages %}
			<p>{{msg}}</p>
		{% endfor %} {% endif %} {% endwith %}
		<nav class="navbar">
			<div class="container navbar__wrapper">
				<div class="navbar__menu">
					<a href="{{url_for('home')}}">main page</a>
					<a href="">films</a>
					<a href="">tv series</a>
					<a href="">cartoons</a>
				</div>
				<div class="navbar__logo">
					<img src="./static/content/BRANDNAME.svg" alt="quokka">
				</div>
				<div class="navbar__menu navbar__menu">
					{% if current_user.is_authenticated %}
						<a href="{{url_for('cart')}}">
						<svg width="15px" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 18 21">
							<path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
						</svg>
						</a>
						<a href="{{url_for('logout')}}">logout</a>
					{% else %}
						<a href="{{url_for('login')}}">login</a>
						<a href="{{url_for('register')}}">register</a>
					{% endif %}
				</div>
			</div>
		</nav>
		<header class="header">
			<video playsinline autoplay muted loop>
				<source src="./static/content/john wick.webm" type="video/webm">
			</video>
			<div class="container">
				<a class="header__offer" href="#">
					<div class="header__title">
						John Wick
					</div>
					<h3 class="header__subtitle">
						watch now
					</h3>
					<div class="header__img">
						<img src="/static/content/play_button.svg" alt="play button">
					</div>
				</a>
			</div>
		</header>
		<section class="popular">
			<div class=" popular__wrapper">
				<div class="popular__items">
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							{% for movie in movies %}
								<a href="item/{{ movie.id }}" class="swiper-slide">
									<div class="popular__img">
										<img src="../static/pics/{{ movie.id }}.jpeg" />
									</div>
									<div class="popular__content">
										<p class="popular__name">{{ movie.title }}</p>
										<p class="popular__date-relise">{{ movie.year }}</p>
									</div>
								</a>
							{% endfor %}
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</section>

		<section class="form">
			<div class="container form__wrapper">
				<form action="/contact" method="post">
					<div class="form-field">
						<p>Email</p>
						<input
							type="text"
							name="email"
							placeholder="Введите email"
							required=""
						/>
					</div>
					<div class="form-field">
						<p>Ваш телефон</p>
						<input
							type="text"
							name="phone"
							placeholder="Введите телефон"
							required=""
						/>
					</div>
					<div class="form-field">
						<p>Сообщение</p>
						<textarea
							type="text"
							name="message"
							placeholder="Введите сообщение"
							required=""
						></textarea>
					</div>
					<div class="form-btn">
						<button class="btn" type="submit">Свяжитесь с нами</button>
					</div>
				</form>
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	
		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper(".mySwiper", {
				slidesPerView: 7,
				spaceBetween: 30,
				speed: 2000,
				loop: true,
				autoplay: {
					delay: 1000,
				},
				parallax: true,
			});
		</script>

	</body>
</html>
