<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>

	{% extends 'base.html' %} {% block content %}
	<body>
		<div class="login__container">
			<form action="/login" method="post">
				<div class="login-form">
					<h1>Login</h1>
					<input
						type="email"
						name="email"
						placeholder="Email / Username"
						required=""
					/>
					<input
						type="password"
						name="password"
						placeholder="Password"
						required=""
					/>
					<div class="messages">
						{% with messages = get_flashed_messages() %} {% if messages %} {%
						for message in messages %}
						<h3>{{ message }}</h3>
						{% endfor %} {% endif %} {% endwith %}
					</div>
					<button class="btn" type="submit">Log in</button>
				</div>
				<div class="link">
					<a href="{{url_for('register')}}"
						>Don’t have an account yet? <span>Register</span></a
					>
				</div>
			</form>
		</div>
	</body>
	{% endblock %}
</html>
